<div class="container display-big feat-cat">
  <h1 class="separate"><span>Featured Categories</span></h1>
  <div class="featured-categories">
      <a href="#">
          <img src="assets/img/11.png" alt="1 img" />
          <p style="margin-bottom: 200px;">Television</p>
      </a>
  </div>
  <div>

      <div class="first">
          <div style="width: 80%;" class="home-ban">
              <div class="row no-gutters">
                  <div class="col col-md-3 col-xs-4 ">
                      <div class="banner-item">
                          <a href="#">
                              <img src="assets/img/9.png" alt="1 img" /> Kitchen Appliances
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-3 col-xs-4">
                      <div class="banner-item">

                          <a href="#">
                              <img src="assets/img/3.png" alt="" /> Phones
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-3 col-xs-4">
                      <div class="banner-item">

                          <a href="#"><img src="assets/img/8.png" alt="" /> Accesories
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-3 col-xs-4">
                      <div class="banner-item">

                          <a href="#"><img src="assets/img/6.png" alt="" /> Home Appliances
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="first">
          <div style="width: 80%;" class="home-ban">
              <div class="row no-gutters">
                  <div class="col col-md-3 col-xs-4 ">
                      <div class="banner-item">
                          <a href="#">
                              <img  src="assets/img/10.png" alt="1 img" /> Kitchen Appliances
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-3 col-xs-4">
                      <div class="banner-item">

                          <a href="#">
                              <img  src="assets/img/4.png" alt="" /> Shoes
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-3 col-xs-4">
                      <div class="banner-item">

                          <a href="#"><img  src="assets/img/7.png" alt="" /> Bags
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-3 col-xs-4">
                      <div class="banner-item">

                          <a href="#"><img  src="assets/img/5.png" alt="" /> Laptops
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container display-small">
  <h1 class="separate "><span>Collections</span></h1>

  <div>

      <div class="first">
          <div style="width: 80%;" class="home-ban">
              <div class="row ">
                  <div class="col col-md-6 col-xs-4" style="padding:20px; ">
                      <div class="banner-item" style="text-align: center;">
                          <a href="#">
                              <img  src="assets/img/11.png" alt="1 img" />
                              <p>Television</p>
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-6 col-xs-4" style="padding:20px;">
                      <div class="banner-item">
                          <a href="#">
                              <img  src="assets/img/9.png" alt="1 img" />
                              <p>Kitchen Appliances</p>
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-6 col-xs-4" style="padding:20px;">
                      <div class="banner-item">
                          <a href="#">
                              <img  src="assets/img/3.png" alt="" />
                              <p>Phones</p>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="first">
          <div style="width: 80%;" class="home-ban">
              <div class="row no-gutters">
                  <div class="col col-md-6 col-xs-4" style="padding:20px;">
                      <div class="banner-item">
                          <a href="#"><img  src="assets/img/8.png" alt="" />
                              <p>Accesories</p>
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-6 col-xs-4" style="padding:20px;">
                      <div class="banner-item">
                          <a href="#"><img  src="assets/img/6.png" alt="" />
                              <p>Home Appliances</p>
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-6 col-xs-4" style="padding:20px;">
                      <div class="banner-item">
                          <a href="#">
                              <img  src="assets/img/10.png" alt="1 img" />
                              <p>Kitchen Appliances</p>
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-6 col-xs-4" style="padding:20px;">
                      <div class="banner-item">

                          <a href="#">
                              <img  src="assets/img/4.png" alt="" />
                              <p>Shoes</p>
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-6 col-xs-4">
                      <div class="banner-item">

                          <a href="#"><img  src="assets/img/7.png" alt="" />
                              <p>Bags</p>
                          </a>
                      </div>
                  </div>
                  <div class="col col-md-6 col-xs-4">
                      <div class="banner-item">

                          <a href="#"><img  src="assets/img/5.png" alt="" />
                              <p>Laptops</p>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
