<header id="header">
    <div class="header-banner">
    </div>
    <nav class="header-nav top_bg">
        <div class="container">
            <div class="hidden-md-down">
                <div id="_desktop_language_selector">
                </div>
                <div id="_desktop_currency_selector">
                </div>

                <div id="_desktop_static">

                </div>

            </div>
        </div>
        <div class="container">
            <div class="hidden-lg-up  mobile">
                <div id="_mobile_static"></div>
                <div class="row row-mobile">
                    <div class="col-mobile col-md-4 col-xs-4">
                        <div class="float-xs-left" id="menu-icon">
                            <i class="ion-android-menu"></i>
                        </div>
                        <div id="mobile_top_menu_wrapper" class="row hidden-lg-up" style="display:none;">
                            <div class="top-header-mobile">
                                <div id="_mobile_compare"></div>
                                <div id="_mobile_wishtlist"></div>
                            </div>
                            <div id="_mobile_currency_selector"></div>
                            <div id="_mobile_language_selector"></div>
                            <div class="menu-close">
                                menu <i class="material-icons float-xs-right">arrow_back</i>
                            </div>
                            <div class="menu-tabs">
                                <div class="js-top-menu-bottom">
                                    <div id="_mobile_megamenu"></div>
                                    <div id="_mobile_vegamenu"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-mobile col-md-4 col-xs-4 mobile-center">
                        <div class="top-logo" id="_mobile_logo"></div>
                    </div>
                    <div class="col-mobile col-md-4 col-xs-4 mobile-right">
                        <div id="_mobile_cart_block"></div>
                        <div id="_mobile_user_info"></div>
                    </div>
                </div>
                <div id="_mobile_search_category"></div>
            </div>
        </div>
    </nav>



    <div class="header-top top_bg hidden-md-down">
        <div class="container">
            <div class="row">
                <div class="col col col-md-2" id="_desktop_logo">
                    <a href="/" style="color: lightblue; font-weight: 800; font-size: 15px;">
                        <!-- <img class="logo img-responsive" src="assets/img/logos/logo2.png" alt="Kwyk Logo"> -->
                        Kwyk Logo
                    </a>
                </div>
                <div class=" col col-md-10 col-sm-12 position-static">
                    <div id="_desktop_cart_block">
                        <div class="blockcart cart-preview" data-refresh-url="" data-cartitems="0">
                            <div class="button_cart">

                            </div>
                            <div class="popup_cart">
                                <div class="content-cart">
                                    <div class="mini_cart_arrow"></div>
                                    <ul>
                                    </ul>

                                    <div class="checkout">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="topnav-right" style="text-align: center;">
                        <a href="#"><span><i class="fas fa-sign-in-alt"></i></span> <br>  Sign in</a>
                    </div>

                    <div class="topnav-right">
                        <a href="#"><span><i class="fas fa-clipboard-list"></i></span>  <br> Orders</a>
                    </div>

                    <div class="topnav-right">
                        <a href="#"><span><i class="fas fa-comments"></i></span>  <br> Konnect</a>
                    </div>
                    <div class="topnav-right">
                        <a href="#"> <span><i class="fas fa-shopping-cart"></i></span> <br> Cart</a>
                    </div>
                    <div class="topnav-right">
                        <a href="/"><i class="fas fa-home"></i> <br> Home </a>

                    </div>
                    <div id="_desktop_search_category">
                        <div class="dropdown js-dropdown">
                            <span class="search-icon" data-toggle="dropdown"><i
                class="ion-ios-search-strong"></i></span>
                            <div id="pos_search_top" class="dropdown-menu">
                                <form method="get" action="#" id="searchbox" class="form-inline form_search show-categories" data-search-controller-url="#">
                                    <label for="pos_query_top">
                  <!-- image on background -->
                </label>
                                    <input type="hidden" name="controller" value="search">
                                    <div class="pos_search form-group">

                                    </div>
                                    <input type="text" name="s" value="" placeholder="Search for Product and categories " id="pos_query_top" class="search_query form-control ac_input">
                                    <button type="submit" style="background-color: #11aecf;" class="btn btn-default search_submit">
                  <!-- <i class="ion-ios-search-strong"></i> -->
                  <span style="color: white;">Search</span>
                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="header-bottom top_bg hidden-md-down">
        <div class="container">
            <div id="_desktop_megamenu" class="use-sticky ">
                <div class="pos-menu-horizontal">
                    <ul class="menu-content">

                    </ul>

                </div>
            </div>
        </div>

    </div>
</header>