#left-column {
  background-color: #ffffff!important;
  color: #555 !important;
}

.h6, #facet_label_771, .show_grid, .show_list, .hidden-sm-down {
  color: #555 !important;
}

.breadcrumb_container {
  margin-top: 20px;
}

#left-column {
  margin-bottom: 20px;
  
}
