<section class="down container">
  <footer id="footer">
    <div class="footer-container">
      <div class="footer_top">
        <div class="container">
          <div class="row">

            <div class="col-md-4 links footer_block">
              <div class="footer_about_us">
                <div class="logo_footer">
                  <a href="#">
                    <a routerLink="" >
                      <img class="logo img-responsive" src="assets/img/logos/Kwyk_logo.svg" alt="Kwyk Logo">
                    </a>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-2 links footer_block">
              <h3 class=" hidden-sm-down">Usefull Links</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_2" data-toggle="collapse">
                <h3>Usefull Links</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <ul id="footer_2" class="collapse footer_list">

                <li>
                  <a id="link-cms-page-1-2" class="cms-page-link" href="#"
                    title="Our terms and conditions of delivery">
                    Support
                  </a>
                </li>

                <li>
                  <a id="link-cms-page-4-2" class="cms-page-link" routerLink="/contact-us" title="Contact us">
                    Contact us
                  </a>
                </li>

                <li>
                  <a id="link-cms-page-5-2" class="cms-page-link" href="#" title="Our secure payment method">
                    How it works
                  </a>
                </li>

                <li>
                  <a id="link-static-page-contact-2" class="cms-page-link" href="#"
                    title="Use our form to contact us">
                    Shipping and delivery
                  </a>
                </li>

                <li>
                  <a id="link-static-page-sitemap-2" class="cms-page-link" href="#"
                    title="Lost ? Find what your are looking for">
                    Return Policy
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 links footer_block">
              <h3 class=" hidden-sm-down">Other Links</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_3" data-toggle="collapse">
                <h3>Other Links</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <ul id="footer_3" class="collapse footer_list">

                <li>
                  <a id="link-cms-page-2-3" class="cms-page-link" href="#" title="Legal notice">
                    Lifestyle
                  </a>
                </li>

                <li>
                  <a id="link-product-page-prices-drop-3" class="cms-page-link" href="#" title="Our special products">
                    Donation
                  </a>
                </li>

                <li>
                  <a id="link-product-page-new-products-3" class="cms-page-link" href="#" title="Our new products">
                    Shopping List
                  </a>
                </li>

                <li>
                  <a id="link-product-page-best-sales-3" class="cms-page-link" href="#" title="Our best sales">
                    Orders
                  </a>
                </li>

                <li>
                  <a id="link-static-page-authentication-3" class="cms-page-link" href="#" title="">
                    My Profile
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-4 links footer_block">
              <h3 class="hidden-sm-down">Tweets by Kwykliving
              </h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_4" data-toggle="collapse">
                <h3>Tweets by Kwykliving</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>

              </div>
              <div id="footer_4" class="collapse footer_list">
                <div class="ft_newsletter col-footer">

                </div>

              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </footer>

</section>
