<div class="product-tabs-container-slider product_block_container">
  <ul class="tabs_slider">
    <li class="feature_product first_item item  active mt-2" rel="tab_feature_product">
      <!-- Featured -->
      Popular on Kwyk
    </li>
    <li class="special_product  item " rel="tab_special_product">
      <!-- OnSale -->

    </li>
    <li class="besseller_product last_item item " rel="tab_besseller_product">
      <!-- Bestseller -->

    </li>

  </ul>

  <div class="row pos_content">
    <div id="tab_feature_product" class="tab_content">
      <div class="productTabContent0 productTab-item owl-carousel">
        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/29/443992/1.jpg?3449" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/29/443992/1.jpg?3449">

              </a>



              <ul class="product-flag">
                <li class="discount"><span>-10%</span></li>
                <li class="new"><span>New</span></li>
              </ul>

            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <span class="discount-percentage discount-product">-10%</span>
                </div>
              </div>
            </div>
          </article>

        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/87/008303/1.jpg?5266" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/87/008303/1.jpg?5266">

              </a>

              <ul class="product-flag">
                <li class="discount"><span>-10%</span></li>

              </ul>

            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <span class="discount-percentage discount-product">-50%</span>
                </div>
              </div>



            </div>
          </article>
        </div>


        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/80/150123/1.jpg?7889" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/80/150123/1.jpg?7889">

              </a>
            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <span class="discount-percentage discount-product">-10%</span>
                </div>
              </div>




            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/81/456182/1.jpg?2905" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/81/456182/1.jpg?2905">

              </a>



            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>
              </div>



            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/57/099852/1.jpg?2266" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/57/099852/1.jpg?2266">

              </a>



              <ul class="product-flag">
                <li class="discount"><span>-10%</span></li>

              </ul>

            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>

              </div>

            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>


        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/67/006791/1.jpg?6905" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/67/006791/1.jpg?6905">

              </a>


            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>

              </div>



            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/16/455852/1.jpg?0029" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/16/455852/1.jpg?0029">

              </a>


            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>
              </div>


            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/64/068223/1.jpg?1908" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/64/068223/1.jpg?1908">

              </a>



            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>
              </div>


            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/85/742182/1.jpg?5785" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/85/742182/1.jpg?5785">

              </a>



              <!-- <ul class="product-flag">
              <li class="discount"><span>-10%</span></li>

            </ul> -->

            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>
              </div>

            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/328922/1.jpg?8431" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/328922/1.jpg?8431">

              </a>


            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>
              </div>


            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/41/425403/1.jpg?4191" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/41/425403/1.jpg?4191">

              </a>

            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>
              </div>



            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>

        <div class="item-product">

          <!-- style products default -->

          <article class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail">
                <img class="first-image " src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/35/336772/1.jpg?7118" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/35/336772/1.jpg?7118">

              </a>

            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">Aloe Vera Oil for
                    men</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh 900</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                </div>
              </div>


            </div>
          </article>

          <!-- end style products default type 1 -->

          <!-- style products default type 2 -->
          <!-- end style products default type 3 -->
        </div>


      </div>
    </div>


  </div>
</div>
