<!-- <div class="product-tabs-container-slider product_block_container">
  <ul class="tabs_slider">
    <li class="feature_product first_item item  active mt-2" rel="tab_feature_product"> -->
      <!-- Featured -->
      <!-- Popular on Kwyk
    </li>
    <li class="special_product  item " rel="tab_special_product"> -->
      <!-- OnSale -->

    <!-- </li>
    <li class="besseller_product last_item item " rel="tab_besseller_product"> -->
      <!-- Bestseller -->

    <!-- </li>

  </ul>

  <div class="row pos_content">
    <div id="tab_feature_product" class="tab_content">
      <div class="productTabContent0 productTab-item owl-carousel">

        <div *ngFor="let item of hotDeals" class="item-product"> -->

          <!-- style products default -->

          <!-- <article  class="product-miniature js-product-miniature style_product1" data-id-product="1"
            data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
            <div class="img_block">

              <a routerLink="product-details" class="thumbnail product-thumbnail"> -->
                <!-- <img class="first-image " src="{{ item.image }}" alt="Aloe Vera Oil for men..."
                  data-full-size-image-url="{{ item.image }}"> -->
                  <!-- <img class="first-image" src="{{ item.image }}" alt="Aloe Vera Oil for men..." data-full-size-image-url="{{ item.image }}">

              </a>



              <ul class="product-flag">
                <li class="discount"><span>-10%</span></li>
                <li class="new"><span>New</span></li>
              </ul>

            </div>
            <div class="product_desc">
              <div class="inner_desc">

                <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                    title="Aloe Vera Oil for men">{{ item.product }}</a></h3>
                <div class="manufacturer"><a routerLink="shop/shops-products">Shop: Ruthie
                    Organics</a></div>
                <div class="product-price-and-shipping">
                  <span class="sr-only">Regular price</span>
                  <span class="regular-price">Ksh {{ ((item.currentprice * (item.discount/100)) )}}</span>
                  <span class="sr-only">Price</span>
                  <span itemprop="price" class="price price-sale">Ksh {{ item.currentprice }}</span>
                  <span class="discount-percentage discount-product">-{{ item.discount}}%</span>
                </div>
              </div>
            </div>
          </article>

        </div>



      </div>
    </div>


  </div>
</div> -->

<section class="container mb-2 mt-2">
  <h1 class="separate "><span>Hot Deals</span><a href="#">See More <i style="color: black !important;" class="fas fa-greater-than"></i></a></h1>
  <div class="first">
    <div class="home-ban">
      <div class="row">

        <div *ngFor="let item of hotDeals" class="fp account-link col-md-2 col-xs-4">
          <div class="banner-item">
            <a routerLink="shop/shops-products">
              <img src="{{ item.image }}" alt="" />
              <div class="product_desc">
                <div class="inner_desc">
                  <h3 itemprop="name"><a routerLink="product-details" class="product_name one_line"
                      title="Aloe Vera Oil for men">{{ item.product }}</a></h3>
                  <div class="manufacturer"><a routerLink="shop/shops-products">{{ item.shop }}</a></div>
                  <div class="product-price-and-shipping">
                    <span class="sr-only">Regular price</span>
                    <span class="regular-price">Ksh {{ ((item.currentprice * (item.discount/(100))) )}}</span>
                    <span class="sr-only">Price</span> <br>
                    <span itemprop="price" class="price price-sale">Ksh {{ item.currentprice }}</span>
                    <!-- <span class="discount-percentage discount-product">-{{ item.discount}}%</span> -->
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
