<div class="container">
  <h1 class="separate "><span>Featured Categories</span></h1>
  <div>
    <div class="collections first">
      <div class="home-ban">
        <div class="row no-gutters">
          <div class="col col-md-3 col-xs-4 ">
            <div class="banner-item">
              <a href="#">
                <img src="assets/img/9.png" alt="1 img" /> <br> Kitchen Appliances
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">

              <a href="#">
                <img src="assets/img/3.png" alt="" /> <br> Phones
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">

              <a href="#"><img src="assets/img/8.png" alt="" /> <br> Accesories
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">

              <a href="#"><img src="assets/img/6.png" alt="" /> <br> Home Appliances
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4 ">
            <div class="banner-item">
              <a href="#">
                <img src="assets/img/10.png" alt="1 img" /> <br> Kitchen Appliances
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">

              <a href="#">
                <img src="assets/img/4.png" alt="" /> <br> Shoes
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">

              <a href="#"><img src="assets/img/7.png" alt="" /> <br> Bags
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">
              <a href="#"><img src="assets/img/5.png" alt="" /> <br> Laptops
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
