<div class="container">
  <h1 class="separate "><span>Featured Categories</span></h1>
  <div>
    <div class="collections first">
      <div class="home-ban">
        <div class="row ">
          <div  class="col col-md-3 col-xs-4 ">
            <div class="banner-item">
              <a href="#">
                <img src="https://image.kilimall.com/kenya/shop/common/a3b7048119c55d7bbc7aba92a2ea995e.png.webp" alt="1 img" />  <span class="banner-text">Kitchen Appliances</span>
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">
              <a href="#">
                <img src="https://image.kilimall.com/kenya/shop/common/14ee2b1b2bdf637691eea451bfc4928b.png.webp" alt="" /> <span class="banner-text">Phones</span>
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">
              <a href="#"><img src="https://image.kilimall.com/kenya/shop/common/a3f13f01cb23b67641b3f78ff2537e2e.png.webp" alt="" /> <span class="banner-text">Accessories</span>
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">
              <a href="#"><img src="https://image.kilimall.com/kenya/shop/common/c8056bfd6a78061aa2e34fd617f8135b.png.webp" alt="" />  <span class="banner-text">Home Appliances</span>
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4 ">
            <div class="banner-item">
              <a href="#">
                <img src="https://image.kilimall.com/kenya/shop/common/3560ecef58135e0538b49f0599bff972.png.webp" alt="1 img" />  <span class="banner-text">Kitchen Appliances</span>
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">
              <a href="#">
                <img src="https://image.kilimall.com/kenya/shop/common/2beaa63e71bbf41ef6e59cd1ae310fee.png.webp" alt="" />  <span class="banner-text">Shoes</span>
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">

              <a href="#"><img src="https://image.kilimall.com/kenya/shop/common/4d0e34c38a080892bde32774b7590e24.png.webp" alt="" /> <span class="banner-text">Bags</span>
              </a>
            </div>
          </div>
          <div class="col col-md-3 col-xs-4">
            <div class="banner-item">
              <a href="#"><img src="https://image.kilimall.com/kenya/shop/common/53c5e62f022b66121d5ec4c89713c662.png.webp" alt="" /> <span class="banner-text">Laptops</span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
