.con {
  background-color: white;
  padding: 20px!important;
}
#wrapper{
  margin-top: 20px;
}

.product-image {
  width:100%;
  height:500px
}

@media (max-width:1199px) {

  .product-image{
    width:100%;
    height:300px
  }

}
