<section class="container mb-2 mt-2">
  <h1 class="separate "><span>Featured Products</span></h1>
  <div class="first">
    <div class="home-ban">
      <div style="padding: 10px;" class="row no-gutters">
        <div class="col col-md-2 col-xs-6 ">
          <div class="banner-items">
            <a href="#">
              <img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Hi_-_Fi_Systems.jpg" alt="1 img" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Hi Fi Systems</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6 ">
          <div class="banner-items">
            <a href="#">
              <img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Sneakers.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Men Sneakers</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6 ">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Smart_TVs.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Smart TVs</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6 ">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Playstation.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Playstation</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6 ">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Diapers.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Diapers</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6 ">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Skin_Care.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Skin Care</h1>
            </a>
          </div>
        </div>
      </div>
      <div style="padding: 10px;" class="row no-gutters">
        <div class="col col-md-2 col-xs-6">
          <div class="banner-items">
            <a href="#">
              <img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Laptops_&_Desktop.jpg" alt="1 img" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Computers</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6">
          <div class="banner-items">
            <a href="#">
              <img src="https://ke.jumia.is/cms/2020/CP/FC/Small_appliances.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Cookers</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Water.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Ingredients</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Watches.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Accessories</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Flash_disks.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">TV Accessories</h1>
            </a>
          </div>
        </div>
        <div class="col col-md-2 col-xs-6">
          <div class="banner-items">

            <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Handbags.jpg" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <h1 class="mt-1">Fragrances</h1>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
