<section class="container mb-2">
  <h1 class="separate "><span>Outlets Near You</span><a href="#">See More <i
  class="fas fa-greater-than"></i></a></h1>
  <div class="first">
      <div class="home-ban">
          <div class="row">
              <div class="col col-md-2 col-xs-4 ">
                  <div class="banner-item">

                      <a routerLink="/shops/products-list">
                          <img src="https://ke.jumia.is/cms/2020/W50/Collections/Tech_Gifts.png" alt="1 img" />
                          <!-- <h1 class="see">See More</h1> -->
                          <h1 class="mt-2">Shop 1</h1>
                      </a>
                  </div>
              </div>
              <div class="col col-md-2 col-xs-4">
                  <div class="banner-item">

                      <a routerLink="/shops/products-list">
                          <img src="https://ke.jumia.is/cms/2020/W50/Collections/Gifts-under-1000bob.png" alt="" />
                          <!-- <h1 class="see">See More</h1> -->
                          <h1 class="mt-2">Shop 2</h1>
                      </a>
                  </div>
              </div>
              <div class="col col-md-2 col-xs-4">
                  <div class="banner-item">

                      <a routerLink="/shops/products-list"><img src="https://ke.jumia.is/cms/2020/W42/collections/Secure-your-data_.jpg" alt="" />
                          <!-- <h1 class="see">See More</h1> -->
                          <h1 class="mt-2">Shop 3</h1>
                      </a>
                  </div>
              </div>
              <div class="col col-md-2 col-xs-4">
                  <div class="banner-item">

                      <a routerLink="/shops/products-list"><img src="https://ke.jumia.is/cms/2020/W42/collections/We-Love-Printed.jpg" alt="" />
                          <!-- <h1 class="see">See More</h1> -->
                          <h1 class="mt-2">Shop 4</h1>
                      </a>
                  </div>
              </div>
              <div class="col col-md-2 col-xs-4">
                  <div class="banner-item">

                      <a routerLink="/shops/products-list"><img src="https://ke.jumia.is/cms/2020/W50/Collections/Fashion-guide.png" alt="" />
                          <!-- <h1 class="see">See More</h1> -->
                          <h1 class="mt-2">Shop 4</h1>
                      </a>
                  </div>
              </div>
              <div class="col col-md-2 col-xs-4">
                  <div class="banner-item">

                      <a routerLink="/shops/products-list"><img src="https://ke.jumia.is/cms/2020/W50/Collections/Stay-safe-this-holiday.png" alt="" />
                          <!-- <h1 class="see">See More</h1> -->
                          <h1 class="mt-2">Shop 4</h1>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
