<div class="first">
  <div class="home-ban">
    <div class="row ">
      <div class="col col-md-3 col-xs-6 ">
        <div class="banner-item">
          <a href="#">
            <img class="bannerimg" src="https://via.placeholder.com/319x281">
            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Groceries</h1>
          </a>
        </div>
      </div>
      <div class="col col-md-3 col-xs-6">
        <div class="banner-item">

          <a href="#">
            <img class="bannerimg" src="https://via.placeholder.com/319x281" alt="" />
            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Electronics</h1>
          </a>
        </div>
      </div>
      <div class="col col-md-3 col-xs-6">
        <div class="banner-item">

          <a href="#"><img class="bannerimg" src="https://via.placeholder.com/319x281" alt="" />
            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Household items</h1>
          </a>
        </div>
      </div>
      <div class="col col-md-3 col-xs-6">
        <div class="banner-item">

          <a href="#"><img class="bannerimg" src="https://via.placeholder.com/319x281" alt="" />
            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Beauty</h1>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-3 col-xs-6 ">
        <div class="banner-item">

          <a href="#">
            <img class="bannerimg" src="https://via.placeholder.com/319x281" alt="1 img" />

            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Kwyk select</h1>
          </a>
        </div>
      </div>
      <div class="col col-md-3 col-xs-6">
        <div class="banner-item">

          <a href="#">
            <img class="bannerimg" src="https://via.placeholder.com/319x281" alt="" />

            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Organic living</h1>
          </a>
        </div>
      </div>
      <div class="col col-md-3 col-xs-6">
        <div class="banner-item">

          <a href="#"><img class="bannerimg" src="https://via.placeholder.com/319x281" alt="" />
            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Shoes</h1>
          </a>
        </div>
      </div>
      <div class="col col-md-3 col-xs-6">
        <div class="banner-item">

          <a href="#"><img class="bannerimg" src="https://via.placeholder.com/319x281" alt="" />
            <!-- <h1 class="see">See More</h1> -->
            <h1 class="mt-2">Fashion</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
