<main>

  <app-header>

  </app-header>

  <app-top-bannerslide>

  </app-top-bannerslide>



  <aside id="notifications">
    <div class="container">
    </div>
  </aside>


  <div class="breadcrumb_container " data-depth="1">
    <div class="container">
      <nav data-depth="1" class="breadcrumb">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" routerLink="">
              <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1">
          </li>


        </ol>
      </nav>
    </div>
  </div>


  <div id="wrapper">
    <div class="container">
      <div class="row">
        <div id="content-wrapper" class="col-xs-12">
          <section id="main">
            <section id="content" class="page-home">
              <div id="top-bars" class="static_cms">
                <div class="row">
                  <div class="top-bars col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="box_cms">
                      <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                      <div class="txt_cms">
                        <h1>Order Food</h1>
                        <!-- <p>On all orders over $75.00</p> -->
                      </div>
                    </div>
                  </div>
                  <div class="top-bars col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="box_cms">
                      <!-- <img src="../img/cms/icon_cms2.png" alt="" class="img-responsive" /> -->
                      <div class="txt_cms">
                        <h1>Shoppings</h1>
                        <!-- <p>Returns are free within 9 days</p> -->
                      </div>
                    </div>
                  </div>
                  <div class="top-bars col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="box_cms">
                      <!-- <img src="../img/cms/icon_cms3.png" alt="" class="img-responsive" /> -->
                      <div class="txt_cms">
                        <h1>Konnect</h1>
                        <!-- <p>Your payment are safe with us.</p> -->
                      </div>
                    </div>
                  </div>
                  <div class="top-bars col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="box_cms">
                      <!-- <img src="../img/cms/icon_cms4.png" alt="" class="img-responsive" /> -->
                      <div class="txt_cms">
                        <h1>Lifestyle</h1>
                        <!-- <p>Contact us 24 hours a day</p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Products categories -->

              <app-categories>

              </app-categories>

             <!-- Products categories -->

              <section class="ads">
                <div>
                  <div class="row">
                    <div class="col col-md-6 col-xs-12">
                      <div class="banner-box">
                        <a href="#"><img src="https://ke.jumia.is/cms/2020/W51/Estee-Lauder_Jumia-1424x768.jpg"
                            alt="" /></a>
                      </div>
                    </div>
                    <div class="col col-md-6 col-xs-12">
                      <div class="banner-box">
                        <a href="#"><img src="https://ke.jumia.is/cms/2020/W52/KE_Fashion_CP_1220_S_SB-(1).jpg"
                            alt="" /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- Popular on Kwyk -->

              <app-popular-on-kwyk>

              </app-popular-on-kwyk>

              <!-- Popular on Kwyk -->


            </section>



            <footer class="page-footer">

              <!-- Footer content -->

            </footer>


          </section>



        </div>



      </div>

    </div>
    <app-featured-categories>

    </app-featured-categories>

    <div class="container">
      <section class="ads">
        <div class="ads_display">
          <div class="row">
            <div class="col col-md-6 col-xs-12">
              <!-- <a href="#"> -->
              <div class="banner-box gradient">
                <div class="row">
                  <div class="col col-md-4 col-xs-12">
                    <p class="p p1">Download the Kwyk app for an Exciting <br> Experience</p>
                  </div>
                  <div class="sm">
                    <div class="col col-md-2 col-xs-12">
                      <div class="col col col-md-2 col-xs-12 div1">

                      </div>
                      <div class="col col col-md-2 col-xs-12 div2">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-md-6 col-xs-12 gradient">
              <div class="banner-box">
                <!-- <a href="#"> -->
                <p class="ads_parag1">
                  Do you prefer to call your order
                </p>
                <p class="ads_parag2">
                  0722336677</p>
                <!-- </a> -->
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>


  <app-featured-products>

  </app-featured-products>


  <app-shops>

  </app-shops>

  <!-- <div class="container">
    <div class="pos_logo product_block_container">
      <div class="row pos_content">
        <div class="logo-slider owl-carousel">
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="#">
                <img class="replace-2x img-responsive" src="https://image.kilimall.com/kenya/PcImages/static/logo_KCB.png.webp"
                  alt="Logo" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <section style="display: none;" class="container">
    <div class="static_cms">
      <div class="row">
        <div class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <div class="box_cms">
            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
            <div class="txt_cms">
              <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
              <h2>Great value</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
            </div>
          </div>
        </div>
        <div class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <div class="box_cms">
            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
            <div class="txt_cms">
              <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
              <h2>Great value</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
            </div>
          </div>
        </div>
        <div class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <div class="box_cms">
            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
            <div class="txt_cms">
              <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
              <h2>Great value</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
            </div>
          </div>
        </div>
        <div class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <div class="box_cms">
            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
            <div class="txt_cms">
              <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
              <h2>Great value</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
            </div>
          </div>
        </div>
        <div class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <div class="box_cms">
            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
            <div class="txt_cms">
              <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
              <h2>Great value</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
            </div>
          </div>
        </div>
        <div class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <div class="box_cms">
            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
            <div class="txt_cms">
              <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
              <h2>Great value</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <app-footer>

  </app-footer>


</main>
