<div class="pos_bannerslide">
  <div class=" container">
    <div class=" row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="slideshow_container" data-speed="600" data-time="6000" data-nav="false" data-pag="true"
          data-pausehover="hover">
          <div class="pos-slideshow">
            <div class="flexslider ma-nivoslider">
              <div class="pos-loading">
                <!-- <span></span> -->
                <img src="https://ke.jumia.is/cms/2021/W07/CP/Slidrs/KE_Fashion_02210_S.jpg" alt="Banner 1" />
              </div>

              <div id="pos-slideshow-home" class="slides">

                <a href="#" title="slide show1">
                  <img style="display:none" src="https://ke.jumia.is/cms/2021/W07/CP/Slidrs/KE_Fashion_02210_S.jpg" data-thumb="https://ke.jumia.is/cms/2021/W07/CP/Slidrs/KE_Fashion_02210_S.jpg"
                    alt="Banner 2" title="#htmlcaption5" />
                </a>
                <a href="#" title="slide show2">
                  <img style="display:none" src="https://ke.jumia.is/cms/2021/W07/CP/KE_StockUp_Beauty_0221_S-(2).jpg" data-thumb="https://ke.jumia.is/cms/2021/W07/CP/KE_StockUp_Beauty_0221_S-(2).jpg"
                    alt="Banner 2" title="#htmlcaption6" />
                </a>
                <a href="#" title="slide show2">
                  <img style="display:none" src="https://ke.jumia.is/cms/2021/W07/CP/Slidrs/KE_StockUp_Generic_0221_S.jpg" data-thumb="https://ke.jumia.is/cms/2021/W07/CP/Slidrs/KE_StockUp_Generic_0221_S.jpg"
                    alt="Banner 2" title="#htmlcaption6" />
                </a>
                <!-- <a href="#" title="slide show2">
                  <img style="display:none" src="https://ke.jumia.is/cms/2021/W06/1424x768-Homepage-Slider.png" data-thumb="https://ke.jumia.is/cms/2021/W06/1424x768-Homepage-Slider.png"
                    alt="Banner 2" title="#htmlcaption6" />
                </a> -->
              </div>

              <div id="htmlcaption5" class="pos-slideshow-caption nivo-html-caption nivo-caption">
                <div class="timethai" style="
                    position:absolute;
                    top:0;
                    left:0;
                    z-index:8;

                    height:5px;
                    -webkit-animation: myfirst 6000ms ease-in-out;
                    -moz-animation: myfirst 6000ms ease-in-out;
                    -ms-animation: myfirst 6000ms ease-in-out;
                    animation: myfirst 6000ms ease-in-out;

              ">
                </div>
                <!-- background-color: rgba(49, 56, 72, 0.298); -->
                <div class="banner7-des">
                  <div class="container">
                    <div class="desc_slideshow desc_slideshow_0 position_left">
                      <!-- <div class="info">
                        <h4 data-animation="animated fadeInDown " class="transition_slide_0">Nutritional Products
                        </h4>
                        <h3 data-animation="animated fadeInLeft " class="transition_slide_1">&amp; Supplements
                        </h3>
                        <p data-animation="animated fadeInRight " class="transition_slide_2">Untra-Pure &amp;
                          Pharmaceutical Grade
                        </p>
                        <a href="#" data-animation="animated zoomIn" class="readmore transition_slide_3">Shop Now</a>
                      </div> -->
                    </div>
                  </div>
                </div>


              </div>

              <div id="htmlcaption6" class="pos-slideshow-caption nivo-html-caption nivo-caption">
                <div class="timethai" style="
                  position:absolute;
                  top:0;
                  left:0;
                  z-index:8;

                  height:5px;
                  -webkit-animation: myfirst 6000ms ease-in-out;
                  -moz-animation: myfirst 6000ms ease-in-out;
                  -ms-animation: myfirst 6000ms ease-in-out;
                  animation: myfirst 6000ms ease-in-out;

              ">
                </div>
                <!-- background-color: rgba(49, 56, 72, 0.298); -->
                <div class="banner7-des">
                  <div class="container">
                    <div class="desc_slideshow desc_slideshow_1 position_left">
                      <!-- <div class="info">

                        <h4 data-animation="animated fadeInRight " class="transition_slide_0">Only Available At</h4>


                        <h3 data-animation="animated fadeInUp " class="transition_slide_1">Supplements</h3>


                        <p data-animation="animated fadeInLeft " class="transition_slide_2">100% Whey Protein Isolate
                        </p>


                        <a href="#" data-animation="animated zoomIn" class="readmore transition_slide_3">Shop Now</a>

                      </div> -->
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
      <script type="text/javascript">
        $(document).ready(function () {
          //Function to animate slider captions
          function doAnimations(elems) {
            //Cache the animationend event in a variable
            var animEndEv = 'webkitAnimationEnd animationend';

            elems.each(function () {
              var $this = $(this),
                $animationType = $this.data('animation');
              $this.addClass($animationType).one(animEndEv, function () {
                $this.removeClass($animationType);
              });
            });
          }
          //Variables on page load
          var $myCarousel = $('.ma-nivoslider'),
            $firstAnimatingElems = $myCarousel.find('.nivo-caption').find("[data-animation ^= 'animated']");
          //Animate captions in first slide on page load
          doAnimations($firstAnimatingElems);

        });
      </script>

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="banner-slide">
          <div class="banner-box">
            <a href="#"><img src="assets/img/banners/1_3.jpg" alt="Side 1" /></a>
          </div>
          <div class="banner-box">
            <a href="#"><img src="assets/img/banners/2_3.jpg" alt="Side 2" /></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
