<div class="product-tabs-container-slider product_block_container">
  <ul class="tabs_slider">
      <li class="feature_product first_item item  active mt-2" rel="tab_feature_product">
          <!-- Featured -->
          Popular on Kwyk
      </li>
      <li class="special_product  item " rel="tab_special_product">
          <!-- OnSale -->

      </li>
      <li class="besseller_product last_item item " rel="tab_besseller_product">
          <!-- Bestseller -->

      </li>

  </ul>

  <div class="row pos_content">
      <div id="tab_feature_product" class="tab_content">
          <div class="productTabContent0 productTab-item owl-carousel">
              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a href="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " [src]="'assets/img/1.jpg'" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>
                          <ul class="product-flag">
                          </ul>

                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
                                        men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
                              Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>
                          </div>



                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>

                          <ul class="product-flag">
                              <!-- <li class="discount"><span>-10%</span></li> -->

                          </ul>

                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>



                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>


              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>
                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>




                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>



                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>



                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>



                          <ul class="product-flag">
                              <li class="discount"><span>-10%</span></li>

                          </ul>

                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>

                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>


              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>


                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>



                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>


                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>


                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>



                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>


                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>



                          <!-- <ul class="product-flag">
<li class="discount"><span>-10%</span></li>

</ul> -->

                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>

                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>


                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>


                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>

                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>



                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>

              <div class="item-product">

                  <!-- style products default -->

                  <article class="product-miniature js-product-miniature style_product1" data-id-product="1" data-id-product-attribute="1" itemscope itemtype="http://schema.org/Product">
                      <div class="img_block">

                          <a routerLink="/single-item" class="thumbnail product-thumbnail">
                              <img class="first-image " src="assets/img/1.jpg" alt="Aloe Vera Oil for men..." data-full-size-image-url="assets/img/1.jpg">

                          </a>

                      </div>
                      <div class="product_desc">
                          <div class="inner_desc">

                              <h3 itemprop="name"><a routerLink="/single-item" class="product_name one_line" title="Aloe Vera Oil for men">Aloe Vera Oil for
  men</a></h3>
                              <div class="manufacturer"><a href="single-shop.html">Shop: Ruthie
  Organics</a></div>
                              <div class="product-price-and-shipping">
                                  <span class="sr-only">Regular price</span>
                                  <span class="regular-price">Ksh 900</span>
                                  <span class="sr-only">Price</span>
                                  <span itemprop="price" class="price price-sale">Ksh 720</span>
                                  <!-- <span class="discount-percentage discount-product">-10%</span> -->
                              </div>

                              <!-- <div class="cart">
<div class="product-add-to-cart">
  <form action="#"  method="post" class="add-to-cart-or-refresh">
    <button
      class="button ajax_add_to_cart_button add-to-cart btn-default"
      data-button-action="add-to-cart"
      type="submit">
      <i class="fa fa-shopping-cart"></i> Add
      to cart
    </button>
  </form>
</div>
</div> -->
                          </div>


                      </div>
                  </article>

                  <!-- end style products default type 1 -->

                  <!-- style products default type 2 -->
                  <!-- end style products default type 3 -->
              </div>


          </div>
      </div>


  </div>
</div>
