.banner-item img {
  border-radius: 10px;
}

.banner-item img {
  height: 200px;
  width: 200px;
}

 .fp {
  height: 350px;
 }

 .mt-2 {
  font-size: 18px;
  text-align: left !important;
}

@media (max-width:1199px) {
	.banner-item img {
		height: 100px;
    width: 100px;
	}
  .fp {
    height: 220px;
   }
   .mt-2 {
     font-size: 10px;
   }
}
