<section class="container mb-2">
  <h1 class="separate "><span>Outlets Near You</span><a href="#">See More <i style="color: black !important;" class="fas fa-greater-than"></i></a></h1>
  <div class="first">
    <div class="home-ban">
      <div class="row">
        <div *ngFor="let item of shops" class="fp account-link col-md-2 col-xs-4">
          <!-- <a (click)="goToNewPage(item)"> -->
          <div class="banner-item">
              <img src="{{item.logo}}" alt="" />
              <!-- <h1 class="see">See More</h1> -->
              <a>
                <!-- <a [routerLink]="['/shop', item.id,item.sellerInfo.shop]"></a> -->
                <h1 class="mt-2">{{item.sellerInfo.shop}}</h1>
             </a>
          </div>
           <!-- </a> -->
        </div>

      </div>
    </div>
  </div>
</section>
