<body itemscope itemtype="http://schema.org/WebPage" id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled">
    <main>

        <!-- Navigation start -->

        <app-header></app-header>

        <!-- Navigation end -->
        <!-- Homepage slides start -->

        <app-home-slides></app-home-slides>

        <!-- Homepage slides start -->
        <div class="breadcrumb_container " data-depth="1">
            <div class="container">
                <nav data-depth="1" class="breadcrumb">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
                                <span itemprop="name">Home</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>



        <div id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <section id="main">
                            <section id="content" class="page-home">
                                <div class="static_cms">
                                    <div class="row">
                                        <div class="col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="box_cms">
                                                <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                                                <div class="txt_cms">
                                                    <h1>Order Food</h1>
                                                    <!-- <p>On all orders over $75.00</p> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="box_cms">
                                                <!-- <img src="../img/cms/icon_cms2.png" alt="" class="img-responsive" /> -->
                                                <div class="txt_cms">
                                                    <h1>Shoppings</h1>
                                                    <!-- <p>Returns are free within 9 days</p> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div  class="col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="box_cms">
                                                <!-- <img src="../img/cms/icon_cms3.png" alt="" class="img-responsive" /> -->
                                                <div class="txt_cms">
                                                    <h1>Konnect</h1>
                                                    <!-- <p>Your payment are safe with us.</p> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div  class="col-cms col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="box_cms">
                                                <!-- <img src="../img/cms/icon_cms4.png" alt="" class="img-responsive" /> -->
                                                <div class="txt_cms">
                                                    <h1>Support 24/7</h1>
                                                    <!-- <p>Contact us 24 hours a day</p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="first">
                                    <div class="home-ban">
                                        <div class="row">
                                            <div class="col col-md-3 col-xs-6 ">
                                                <div class="banner-item">
                                                    <a href="#">
                                                        <img [src]="'assets/img/1.jpg'" alt="1 img" />
                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Groceries</h1>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col col-md-3 col-xs-6">
                                                <div class="banner-item">

                                                    <a href="#">
                                                        <img [src]="'assets/img/2.jpg'" alt="" />
                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Electronics</h1>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col col-md-3 col-xs-6">
                                                <div class="banner-item">

                                                    <a href="#"><img [src]="'assets/img/1.jpg'" alt="" />
                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Household items</h1>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col col-md-3 col-xs-6">
                                                <div class="banner-item">

                                                    <a href="#"><img [src]="'assets/img/2.jpg'" alt="" />
                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Beauty</h1>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-3 col-xs-6 ">
                                                <div class="banner-item">

                                                    <a href="#">
                                                        <img [src]="'assets/img/2.jpg'" alt="1 img" />

                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Kwyk select</h1>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col col-md-3 col-xs-6">
                                                <div class="banner-item">

                                                    <a href="#">
                                                        <img [src]="'assets/img/1.jpg'" alt="" />

                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Organic living</h1>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col col-md-3 col-xs-6">
                                                <div class="banner-item">

                                                    <a href="#"><img [src]="'assets/img/2.jpg'" alt="" />
                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Shoes</h1>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col col-md-3 col-xs-6">
                                                <div class="banner-item">

                                                    <a href="#"><img [src]="'assets/img/1.jpg'" alt="" />
                                                        <!-- <h1 class="see">See More</h1> -->
                                                        <h1 class="mt-2">Fashion</h1>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <section class="ads">
                                    <div class="" style="margin-top: 20px; padding: 10px;">
                                        <div class="row">
                                            <div class="col col-md-6 col-xs-12">
                                                <div class="banner-box">
                                                    <a href="#"><img src="https://ke.jumia.is/cms/2020/W51/Estee-Lauder_Jumia-1424x768.jpg" alt="" /></a>
                                                </div>
                                            </div>
                                            <div class="col col-md-6 col-xs-12">
                                                <div class="banner-box">
                                                    <a href="#"><img src="https://ke.jumia.is/cms/2020/W52/KE_Fashion_CP_1220_S_SB-(1).jpg" alt="" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <!-- Popular on kwyk section start -->

                                <app-popular-on-kwyk></app-popular-on-kwyk>

                                <!-- Popular on kwyk section end -->

                            </section>



                            <footer class="page-footer">

                                <!-- Footer content -->

                            </footer>


                        </section>



                    </div>



                </div>

            </div>

            <!-- Featured Categories Section Start -->

          <app-featured-categories></app-featured-categories>

            <!-- Featured Categories Section End -->
            
            <div class="container">
                <section class="ads">
                    <div class="" style="margin-top: 20px; padding: 10px; margin-right: 15px;">
                        <div class="row">
                            <div class="col col-md-6 col-xs-12">
                                <!-- <a href="#"> -->
                                <div class="banner-box gradient">
                                    <div class="row">
                                        <div class="col col-md-4 col-xs-12">
                                            <p class="p p1">Download the Kwyk app for an Exciting <br> Experience</p>
                                        </div>
                                        <div class="sm">
                                            <div class="col col-md-2 col-xs-12">
                                                <div class="col col col-md-2 col-xs-12 div1">

                                                </div>
                                                <div class="col col col-md-2 col-xs-12 div2">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </a> -->
                            </div>
                            <div class="col col-md-6 col-xs-12 gradient">
                                <div class="banner-box">
                                    <!-- <a href="#"> -->
                                    <p class="p" style="margin-top: 1rem!important; margin-left: 1rem!important;  text-align: center; font-size: 2rem;">
                                        Do you prefer to call your order
                                    </p>
                                    <p class="p" style="margin-top: 1rem!important; margin-left: 1rem!important; margin-bottom: 0.9rem!important; text-align: center; font-size: 2rem;">
                                        0722336677</p>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <section class="container mb-2">
            <h1 class="separate "><span>Collections</span></h1>
            <div class="first">
                <div class="home-ban">
                    <div style="padding: 10px;" class="row no-gutters">
                        <div class="col col-md-2 col-xs-6 ">
                            <div class="banner-items">
                                <a href="#">
                                    <img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Hi_-_Fi_Systems.jpg" alt="1 img" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Hi Fi Systems</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6 ">
                            <div class="banner-items">
                                <a href="#">
                                    <img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Sneakers.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Men Sneakers</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6 ">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Smart_TVs.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Smart TVs</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6 ">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Playstation.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Playstation</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6 ">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Diapers.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Diapers</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6 ">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Skin_Care.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Skin Care</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px;" class="row no-gutters">
                        <div class="col col-md-2 col-xs-6">
                            <div class="banner-items">
                                <a href="#">
                                    <img src="https://ke.jumia.is/cms/2020/W36/FeaturedCats/Laptops_&_Desktop.jpg" alt="1 img" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Computers</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6">
                            <div class="banner-items">
                                <a href="#">
                                    <img src="https://ke.jumia.is/cms/2020/CP/FC/Small_appliances.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Cookers</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Water.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Ingredients</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Watches.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Accessories</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Flash_disks.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">TV Accessories</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-6">
                            <div class="banner-items">

                                <a href="#"><img src="https://ke.jumia.is/cms/2020/CP/FC/Handbags.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-1">Fragrances</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mb-2">
            <h1 class="separate "><span>Outlets Near You</span><a href="#">See More <i
            class="fas fa-greater-than"></i></a></h1>
            <div class="first">
                <div class="home-ban">
                    <div class="row">
                        <div class="col col-md-2 col-xs-4 ">
                            <div class="banner-item">

                                <a href="single-shop.html">
                                    <img src="https://ke.jumia.is/cms/2020/W50/Collections/Tech_Gifts.png" alt="1 img" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-2">Shop 1</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-4">
                            <div class="banner-item">

                                <a href="single-shop.html">
                                    <img src="https://ke.jumia.is/cms/2020/W50/Collections/Gifts-under-1000bob.png" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-2">Shop 2</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-4">
                            <div class="banner-item">

                                <a href="single-shop.html"><img src="https://ke.jumia.is/cms/2020/W42/collections/Secure-your-data_.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-2">Shop 3</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-4">
                            <div class="banner-item">

                                <a href="single-shop.html"><img src="https://ke.jumia.is/cms/2020/W42/collections/We-Love-Printed.jpg" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-2">Shop 4</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-4">
                            <div class="banner-item">

                                <a href="single-shop.html"><img src="https://ke.jumia.is/cms/2020/W50/Collections/Fashion-guide.png" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-2">Shop 4</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col col-md-2 col-xs-4">
                            <div class="banner-item">

                                <a href="single-shop.html"><img src="https://ke.jumia.is/cms/2020/W50/Collections/Stay-safe-this-holiday.png" alt="" />
                                    <!-- <h1 class="see">See More</h1> -->
                                    <h1 class="mt-2">Shop 4</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div style="background-color: rgb(255, 255, 255) !important;" class="static_cms">
                <div class="row">
                    <div style="border: 2px solid rgb(255, 255, 255) !important; text-align: center;" class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        <div class="box_cms">
                            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                            <div class="txt_cms">
                                <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
                                <h2>Great value</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
                            </div>
                        </div>
                    </div>
                    <div style="border: 2px solid rgb(255, 255, 255) !important; text-align: center;" class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        <div class="box_cms">
                            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                            <div class="txt_cms">
                                <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
                                <h2>Great value</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
                            </div>
                        </div>
                    </div>
                    <div style="border: 2px solid rgb(255, 255, 255) !important; text-align: center;" class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        <div class="box_cms">
                            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                            <div class="txt_cms">
                                <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
                                <h2>Great value</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
                            </div>
                        </div>
                    </div>
                    <div style="border: 2px solid rgb(255, 255, 255) !important; text-align: center;" class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        <div class="box_cms">
                            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                            <div class="txt_cms">
                                <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
                                <h2>Great value</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
                            </div>
                        </div>
                    </div>
                    <div style="border: 2px solid rgb(255, 255, 255) !important; text-align: center;" class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        <div class="box_cms">
                            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                            <div class="txt_cms">
                                <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
                                <h2>Great value</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
                            </div>
                        </div>
                    </div>
                    <div style="border: 2px solid rgb(255, 255, 255) !important; text-align: center;" class="col-cms col-xs-12 col-sm-4 col-md-4 col-lg-2">
                        <div class="box_cms">
                            <!-- <img src="../img/cms/icon_cms1.png" alt="" class="img-responsive" /> -->
                            <div class="txt_cms">
                                <h2 class="bottom-h1"><i class="far fa-gem"></i></h2>
                                <h2>Great value</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, optio?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
